*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    padding: 10px 20px;
    border-radius: 50%;
    overflow: hidden;
}


p{
    font-size: 13px;
    line-height: 0.8;
    background-image: url(panda.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    font-weight: bold;
    filter: brightness(150%);
    -webkit-background-clip: text;
    color: transparent;
}

h1{
    margin-top: 35px;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    -webkit-animation:colorchange 25s infinite alternate;
}

@-webkit-keyframes colorchange {
        0% {
        
        color: white;
        }
        
        10% {
        
        color: black;
        }
        20% {
        
            color: white;
        }
        
        30% {
            
            color: black;
        }
        40% {
        
            color: white;
        }
        
        50% {
            
            color: black;
        }
        40% {
        
            color: white;
        }
        
        50% {
            
            color: black;
        }
        40% {
        
            color: white;
        }
        
        50% {
            
            color: black;
        }
        60% {
        
            color: white;
        }
        
        70% {
            
            color: black;
        }
        80% {
        
            color: white;
        }
        
        90% {
            
            color: black;
        }

        100% {
        
            color: white;
        }

    
    
   
  }

